<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <div class = "header-inner">
        <div class = "header-left-nav">
          <a href = "https://4393c9a548784d26aacacd6c50dd5e35.vfs.cloud9.us-east-2.amazonaws.com/">
            <img alt = "サイトのロゴ画像" src = "https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
          </a>
          <div class = "header-sharch d-lg-inline-block d-none">
            <%= form_with url: rooms_search_path, method: :get do |f| %>
              <%= f.text_field :address, class: "form-control", value: @address, placeholder: "エリア" %>
              <%= f.hidden_field :introduction, value: "*" %>
              <% f.submit %>
            <% end %>
          </div>
          <div class = "header-sharch d-lg-inline-block d-none">
            <%= form_with url: rooms_search_path, method: :get do |f| %>
              <%= f.text_field :introduction, class: "form-control", value: @introduction, placeholder: "キーワード" %>
              <%= f.hidden_field :address, value: "*" %>
              <% f.submit %>
            <% end %>
          </div>
        </div>
        <div class = "header-right-nav">
          <% if user_signed_in? %>
            <div class = "nav-item d-sm-inline-block d-none">
              <%= current_user.name %>
            </div>
            <div class = "nav-item">
              <% if current_user.image? %>
                <img class = "mx-3 p-1 host-icon nav-trigger" alt = "メニュー" src = "<%= current_user.image %>">
              <% else %>
                <img class = "mx-3 p-1 host-icon nav-trigger" alt = "メニュー" src = "/assets/default.png">
              <% end %>
              <ul class = "header-nav-menu">
                <li>
                  <a href = "/rooms/new">ルーム登録</a>
                </li>
                <li>
                  <a href = "/reservations">予約済みルーム一覧</a>
                </li>
                <li>
                  <a href = "/rooms/posts">登録済みルーム一覧</a>
                </li>
                <li>
                  <a href = "/users/account">設定</a>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class = "nav-item">
              <a class = "btn btn-primary my-2 mx-3" href = "/users/sign_in">ログイン</a>
              <a class = "btn btn-secondary" href = "/users/sign_up">登録する</a>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class = "notice"><%= flash[:notice] %></div>
    <%= yield %>
    <footer class = "footer">
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
